<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #f3f5f7;
        --app-secondary-color: black;
        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: #1d73b2;
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      .datosusuario{
        display: inline-block;
        width: 150px;
        height: 64px;
        text-align: right;
        color: white;
      }
      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        font-size: 30px;
        line-height: 64px;
        background-image: url(../images/cuenta-icon.png);
      }

    </style>
    <iron-ajax
      id="ajax"
      url="https://backjav.herokuapp.com/api-peru/v1/logout"
      handle-as="json"
      method="POST"
      content-type="application/json"
      on-response = "logoutExitoso"
      on-error="looutError">
    </iron-ajax>
    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}" style="color:white;">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="view1" on-click="cargadata" style="color:white; font-size:18px;" href="[[rootPath]]view1">Mis Cuentas</a>
          <a name="view2" style="color:white; font-size:18px;" href="[[rootPath]]view2">Transferencias</a>
          <!--a name="view3" href="[[rootPath]]view3">Mis Datos</a-->
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title><b>Tu Banco Virtual</b></div>
            <div class="datosusuario" style="padding-right:10px;">
              <b>Hola {{user.first_name}} </b><br>
              <a on-click="cerrarsession" style="font-size:16px;color:white;">Salir</a>
            </div>
            <div class="circle">
              <!--img src="../images/cuenta-icon.png" alt="60px" width="60px"-->
            </div>
          </app-toolbar>

        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view1"
            role="main"
            on-item-selected="cargadata">
          <my-view1 id="view1" usu="{{user}}" name="view1"></my-view1>
          <my-view2 id="view2" usu="{{user}}" name="view2"></my-view2>
          <my-view3 usu="{{user}}" name="view3"></my-view3>
          <my-view404 name="view404"></my-view404>
          <my-view22 name="view22"></my-view22>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          user:{
              type: Object
          },
          menu:{
              type: Number
          },
          nombre:{
            type: String
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
      cerrarsession(){
        console.log("Este es una prueba Logout");
        var usu ={
          dni: this.user.dni
        }
        console.log(usu);
        this.$.ajax.body = JSON.stringify(usu);
        this.$.ajax.params=usu;
        this.$.ajax.generateRequest();
        console.log("Estoy en validar logout");
      }
      logoutExitoso(event,request){
        var usuario=event.detail.response;
        console.log(usuario);
        this.salirCliente();
      }
      cargadata(){
        this.$.view1.cargacuentas();
        console.log("Invocando a carga data");
      }

      cargainfo(){
        this.$.view2.cargatrans();
        console.log("Invocando a data transferencia");
      }
      salirCliente(){
        console.log("Estas en Salir cliente");
        this.dispatchEvent(
        new CustomEvent(
          "login",
          {
            "detail":{
              "menu" : 0
            }
          }
        ));
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
